body {
    min-width: 400px;
    max-width: 500px;
    height: 500px;
    background-color: #fff;
}

h2 {
    color: #494949;/*文字色*/
    padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
    background: #f4f4f4;/*背景色*/
    border-left: solid 5px #7db4e6;/*左線*/
    border-bottom: solid 3px #d7d7d7;/*下線*/
}

h3 {
    color: #575454;/*文字色*/
}

.cur-element {
    position: relative;
    padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
    margin: 15px 0px;
    background: #f0f0f0;/*背景色*/
    border-left: solid 5px #7db4e6;/*左線*/
    border-bottom: solid 3px #d7d7d7;/*下線*/
}

.cur-element::before{
    content: "";
    position:absolute;
    top:0;
    right:0;
    width:0;
    height:0;
    border-style: solid;
    border-color: transparent #fff #ff7e57 transparent;
    border-width: 0 25px 25px 0;
}

.list-element {
    position: relative;
    padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
    margin: 15px 0px;
    background: #f0f0f0;/*背景色*/
    border-left: solid 5px #e6d67d;/*左線*/
    border-bottom: solid 3px #d7d7d7;/*下線*/
}

.list-element::before{
    content: "";
    position:absolute;
    top:0;
    right:0;
    width:0;
    height:0;
    border-style: solid;
    border-color: transparent #fff #ff7e57 transparent;
    border-width: 0 25px 25px 0;
}

p.novel-title {
    max-width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 0px;
    margin-bottom: 0px;
    color: green;
    font-weight: bold;
}

.delete-button {
    position: absolute;
    outline: none;
    width: 15px;
    height: 15px;
    top: 11px;
    right: 12px;
    text-align:center;
    background-color: rgba(0, 0, 0, 0);
    color:#fff;
    padding: 0px;
    font-size: 90%;
    text-decoration:none;
    outline: none;
    border: none;
}

.delete-button:hover {
    color:#000;
}