.novel_honbun {
    margin: 30px auto 50px;
    padding: 0 20px 0 20px;
    width: 600px;
}

.novel_no {
    margin: 0 10px 10px 0;
    text-align: right;
    color: #999999;
    font-size: 90%;
}

.contents1 {
    position: relative;
}

#later-button {
    position: absolute;
    top: 10px;
    right: 110px;
}

#later-button span {
    font-size: .85em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 70px;
    height: 28px;
    cursor: pointer;
    border: 1px solid var(--color-ui-border);
    background: var(--color-bg-neverchange);
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: 700;
}

#later-button:hover {
    background-color: #99bbcc;
    color: #ffffff;
}

#my-alert {
    position: fixed;
    height: 300px;
    width: 600px;
    background: white;
    top:calc(50% - 300px/2);
    left:calc(50% - 600px/2);
    border: solid 5px #666666;
    box-sizing: border-box;
    border-radius: 10px;
}

.alert-message {
    text-align: center;
    color: #666666;
    margin-top: 100px;
}

.checkmark {
    position: relative;
    height: 50%;
    width: 25%;
    top: 40px;
    left: 220px;
}